fastapi
uvicorn
asyncpg
python-dotenv
datamodel-code-generator
pydantic-settings
pydantic[email]
alembic
sqlalchemy[asyncio]
passlib[bcrypt]
python-jose[cryptography]
jwt
langchain
langchain-core
langchain-ollama
langgraph
langchain-mcp-adapters
langchain-google-genai
langchain-community
langchain-cohere
langchain-postgres
psycopg[binary]
langsmith
dateparser
Babel
pypdf
pgvector
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pytz
